.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid black;
}
.nav-items > ul {
  list-style-type: none;
  display: flex;
}
.nav-items > ul > li {
  padding: 10px;
}
.logo {
  width: 100px;
}
.card {
  width: 200px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.card h2{
  font-size: 14px;
}
.card > img {
  width: 100%;
}
.restraunt-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 0px;
}
.simmer-card{
  width: 200px;
  height: 300px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center;
  justify-content: center;
  position: relative;
}
.simmer-image-box{
  background: linear-gradient(to right, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  height: 270px; /* Adjust the height as needed */
  width: 200px; /* Expand to fill the container width */
  position: absolute;
}




@keyframes simmer {
  to {
    background-position: 200% 0;
  }
}
